:root {
    --rich-black: #0b0c10;
    --gunmetal: #1f2833;
    --silver-sand: #c5c6c7;
    --eletric-blue: #66fcf1;
    --teal: #45a29e;
    
    --general-font: 'Montserrat', sans-serif;
    --heading-font: 'Orbitron', sans-serif;

    --bigger_header: max(30px, 3vw);
    --header: max(16px, 1.3vw);
    --normal_font: max(16px, 1vw);
    --call_to_action: max(16px, 1.5vw);
}