body {
    background-color: var(--gunmetal);
}

.header {
    background-color: var(--rich-black);
    width: 100vw;
    height: auto;
    position: sticky;
    top: 0px;
    border: 1px solid var(--eletric-blue);
}

.header__h1 {
    text-align: center;
    padding: 5px;
    color: var(--eletric-blue);
}

#burguer {
    width: 100vw;
    background-color: var(--rich-black);
    text-decoration: none;
    text-align: center;
    color: var(--eletric-blue);
    display: block;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    border-top: 1px solid var(--eletric-blue);
}

#burguer:hover {
    background-color: var(--silver-sand);
}

#items {
    display: none;
    border-top: 1px solid var(--eletric-blue);
}

.menu__ul {
    margin-top: 0px;
    margin-bottom: 0px;
    text-indent: 0px;
    list-style-type: none;
}

.menu__link { 
    background-color: var(--rich-black);
    text-decoration: none;
    text-align: center;
    color: var(--eletric-blue);
    display: block;
    font-weight: bold;
    font-family: var(--heading-font);
    border-bottom: 1px solid var(--eletric-blue);

    padding: 3px;
}

.menu__link:hover, #items > i {
    background-color: var(--silver-sand);
}

.menu__link > i {
    transform: translateY(4px);
    margin: 0px 5px;
}

/*End Header Config*/

main {
    background: var(--gunmetal);
    height: auto;
    width: 100vw;
    padding: 25px 0px 25px 0px;
}

/*End Main Config*/

section {
    background-color: white;
    margin: auto;
    padding: 10px;
    width: 80vw;
    height: auto;
    border-radius: 10px 0px 10px 0px;
    border: 2px solid var(--eletric-blue);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/*End Section Config*/

h1 {
    font-family: var(--heading-font);
    text-align: center;
}

h2 {
    font-family: var(--heading-font);
    text-indent: 20px;
}

p {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    text-indent: 20px;
}

a {
    text-decoration: none;
}

div > p, div > a {
    color: black;
    font-weight: bold;
    text-indent: 0px;
}

div > a:hover {
    color: var(--teal);
}