#main-home {
    height: 100vh;
}

.home__h2 {
    text-align: center;
    text-indent: 0px;
}

#cv {
    text-align: center;
}

#cv__link {
    border: 1px, solid, var(--eletric-blue);
    border-radius: 5px;
    background-color: var(--rich-black);
    display: inline-block;
    text-align: center;
    color: var(--eletric-blue);
    padding: 6px;
    margin-top: 10px;
}

#cv__link:hover {
    background-color: var(--silver-sand);
}