@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1200px) {

    #burguer {
        display: none;
    }

    #items {
        display: block;
    }

    .menu__ul {
        text-indent: 0px;
        display: flex;
        justify-content: center;
    }

    .menu__link {
        border: 0px;
        border-radius: 10px;
    }
    
    section {
        width: 80vw;
    }

    #screen {
        width: calc(100% - 100px);
        margin: auto;
        display: block;
        border: 2px solid var(--eletric-blue);
    }

    #section-projects {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .projects__div {
        width: 250px;
    }

    .projects__img {
        width: 250px;
    }

}

@media screen and (min-width: 1200px) {

    #burguer {
        display: none;
    }

    #items {
        display: block;
    }

    .menu__ul {
        text-indent: 0px;
        display: flex;
        justify-content: center;
    }

    .menu__link {
        border: 0px;
    }

    .menu__link:hover {
        border-top: 0px !important;
        border-bottom: 0px !important;
        border: 1px solid var(--eletric-blue);
    }
    
    section {
        width: 768px;
    }

    #screen {
        width: calc(100% - 300px);
        margin: auto;
        display: block;
        border: 2px solid var(--eletric-blue);
    }

    #section-projects {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .projects__div {
        width: 250px;
    }

    .projects__div:hover {
        transform: translate(0px, -15px) rotate(-3deg);
        transition-duration: .4s;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }

    .projects__img {
        width: 250px;
    }

}