:root {
    --rich-black: #0b0c10;
    --gunmetal: #1f2833;
    --silver-sand: #c5c6c7;
    --eletric-blue: #66fcf1;
    --teal: #45a29e;
    
    --general-font: 'Montserrat', sans-serif;
    --heading-font: 'Orbitron', sans-serif;
}